.root {
    -fx-background-color: rgba(240, 240, 240, 0.8);
    -fx-font-family: 'Inter';
}

.task-card {
    -fx-background-color: rgba(255, 255, 255, 0.6);
    -fx-background-radius: 25px;
    -fx-padding: 15;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.15), 10, 0.3, 0, 4);
}

.sidebar {
    -fx-background-color: rgba(255, 255, 255, 0.2);
    -fx-padding: 20;
    -fx-spacing: 15;
}

.sidebar-icon {
    -fx-background-color: transparent;
    -fx-text-fill: slateblue;
    -fx-font-size: 18px;
}
