/* Root */
#sidebar {
    -fx-background-color: #F4F1FA;
    -fx-background-radius: 0;
}

#logoIcon {
    -fx-font-size: 18px;
    -fx-text-fill: #8C7BFF;
}
#logoText {
    -fx-font-size: 20px;
    -fx-font-weight: 600;
    -fx-text-fill: #5E4AE3;
    -fx-letter-spacing: 1px;
}

/* Nav Items */
#navItem {
    -fx-font-size: 14px;
    -fx-text-fill: #7B7692;
    -fx-background-radius: 14;
}
#navItem:hover {
    -fx-background-color: #ECE8FF;
    -fx-background-radius: 14;
    -fx-transition: all 250ms ease-in-out;
}
#navItemActive {
    -fx-font-size: 14px;
    -fx-text-fill: #5E4AE3;
    -fx-background-color: linear-gradient(to right, #E9E4FF, #F5EEFF);
    -fx-background-radius: 14;
    -fx-effect: dropshadow(gaussian, rgba(140,123,255,0.3), 10, 0, 0, 0);
}

/* Main Content */
#greetingText {
    -fx-font-size: 26px;
    -fx-font-weight: 600;
    -fx-text-fill: linear-gradient(to right, #FF7AC6, #B58CFF, #6EC1FF);
    -fx-font-family: "Poppins", "Segoe UI Emoji", "System";
}
#dateText {
    -fx-font-size: 14px;
    -fx-text-fill: #8A86A3;
}

/* Progress Circle */
#progressCircle {
    -fx-stroke: linear-gradient(to right, #8C7BFF, #B8A9FF);
    -fx-stroke-width: 6;
    -fx-fill: transparent;
}
#progressText {
    -fx-font-size: 14px;
    -fx-font-weight: 700;
    -fx-text-fill: #5E4AE3;
}

/* Add Task Button */
#addTaskBtn {
       -fx-pref-width: 120;
       -fx-pref-height: 40;
       -fx-background-radius: 20;
       -fx-background-color: linear-gradient(to right, #A78BFA, #F472B6);
       -fx-text-fill: white;
       -fx-font-size: 14px;
       -fx-font-weight: 600;
       -fx-cursor: hand;
       -fx-effect: dropshadow(gaussian, rgba(167,139,250,0.4), 15, 0, 0, 4);
       -fx-font-family: "Poppins", "Segoe UI Emoji", "System";
       }

#addTaskBtn:hover {
       -fx-scale-x: 1.05;
       -fx-scale-y: 1.05;
       -fx-effect: dropshadow(gaussian, rgba(244,114,182,0.6), 20, 0, 0, 6);
        }

.calendar-button {
    -fx-background-radius: 15;
    -fx-background-color: transparent;
    -fx-font-size: 14px;
    -fx-cursor: hand;
}
.calendar-button:hover {
    -fx-background-color: #E9D5FF;
}
.task-card {
    -fx-background-color: white;
    -fx-background-radius: 25;
    -fx-padding: 20;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.08), 20, 0, 0, 8);
}
.task-card:hover {
    -fx-scale-x: 1.02;
    -fx-scale-y: 1.02;
}
